html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    background-color: rgba(242, 242, 242, 1);
    color: rgba(26, 24, 25, 1);
    width: 100vw;
    overflow-x: hidden;
}

.banner {
    margin-top: 0;
    padding: 80px 20px;
    width: 100%;
}

.name {
    position: fixed;
    top: 25%;
}

.tagline {
    margin-top: 20px;
}

.banner p {
    color: rgba(26, 24, 25, 1);
    font-size: 1.15rem;
    letter-spacing: 0.4px;
    line-height: 1.25em;
    width: 100%;
}

.aboutMeP {
    margin: 20px 0;
}

h1,
h2 {
    font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
}

.banner h1 {
    font-weight: 600;
    font-size: 6rem;
}

.banner h2 {
    font-weight: 300;
    font-size: 2rem;
    line-height: .6em;
}

.jobTitles {
    margin-top: 20px;
}

.banner .jobNew {
    margin-bottom: 0;
}

.banner .jobOld {
    font-weight: 200;
    color: rgba(26, 24, 25, .4);
}

.projects {
    padding-top: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    color: rgba(26, 24, 25, 1);
    text-decoration: none;
}

.nameNav a {
    display: inline-flex;
    align-items: center;
    font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: rgba(26, 24, 25, 1);
}

.nameNav .bi-arrow-right-short {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nameNav a:hover .bi-arrow-right-short {
    opacity: 1;
    transform: translateX(10px);
}

.mobileHeading {
    margin-top: 50px;
}

@media only screen and (max-width: 1024px) {
    .main {
        padding: 20px;
    }

    .projects {
        padding-top: 0px;
    }

    .banner {
        padding: 0;
    }

    .footer {
        margin-top: 50px;
    }
}


@media only screen and (max-width: 798px) {
    .name {
        display: none;
    }

    .main,
    .main .banner,
    .mobileHeading,
    .aboutMeP {
        padding: 0 20px;
    }
}