* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-color: rgba(26, 24, 25, 1);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.login h1 {
    font-size: 8rem;
    margin-bottom: 20px;
}

.loginInput {
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
}

#enterBtn {
    font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
    .loginContainer {
        padding: 20px;
    }

    .loginInput {
        margin-top: 0px;
    }

    #enterBtn {
        font-size: 1rem;
    }
}